/* NAVBAR WRAPPER */
.navbar {
  background: #f5f7f6;
  border-bottom: 1px solid #e6e6e6;
}

/* CONTAINER */
.navbar-container {
  width: 92%;
  max-width: 1100px;
  margin: auto;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  width: 120px;
  cursor: pointer;
}

/* MENU (KEEP VERY LIGHT) */
.navbar-menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-menu li a {
  text-decoration: none;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-menu li a:hover {
  color: #4caf7d;
}

.navbar-menu .active {
  color: #4caf7d;
}

/* RIGHT SIDE */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* ICON STYLE */
.icon {
  width: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* CART DOT */
.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #4caf7d;
  border-radius: 50%;
  top: -2px;
  right: -2px;
}

/* BUTTON (GREEN STYLE) */
.navbar button {
  background: #4caf7d;
  border: none;
  color: white;
  padding: 7px 18px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background: #3e9b6a;
}

.navbar-profile{
  position: relative;
  cursor: pointer;
}

.nav-profile-dropdown{
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid #3e9b6a;
  outline: 2px solid white;
  list-style: none;
  cursor: pointer;
}

.nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img{
  width: 20px;
}

.nav-profile-dropdown li:hover{
  color: #3e9b6a;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .logo {
    width: 100px;
  }
}