.my-orders {
  padding: 40px;
}

.order-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #fff;
}

.order-title {
  margin-bottom: 10px;
}

.order-item {
  font-size: 14px;
  color: #555;
}